<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kmabb Construction</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Kmabb.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="fixed-top navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <div class="d-flex justify-content-between w-100">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kmabb Construction</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{ int? UID = Context.Session.GetInt32("UserId");
                            if(UID == 1) {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Quotes">Quotes</a>
                        </li>
                            }}
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="PhotoGallery">Projects</a>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a class="nav-link text-dark" asp-controller="Message" asp-action="Index">Message board</a>
                        </li>
                        <li class="nav-item">
                            @{
                                
                                if (UID == null)
                                {
                                    <a class="nav-link btn btn-outline-secondary btn-sm m-auto" asp-controller="User"
                                        asp-action="Index">
                                        <span>Login</span>
                                    </a>
                                }
                                else
                                {
                                    <form asp-action="Logout" asp-controller="User" class="text-right">
                                        <button class="btn btn-outline-danger">Logout</button>
                                    </form>
                                }
                            }
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted bg-white">
        <div class="text-center p-2">
            <h4>Contact</h4>
            <hr>
            <h5>Established in 2020, Serving Kitsap County Washington</h5>
        </div>
        <div class="container d-flex flex-wrap flex-row-reverse justify-content-around px-3">
            <span>Email: <a href="mailto: kmabb.construction@outlook.com">kmabb.construction@outlook.com</a></span>
            <span>&copy; 2020 - Kmabb Construction</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
