@{
    ViewData["Title"] = "Login / Registration";
}

<div class="text-center">
    <h1 class="display-4 mt-5 pt-5">Welcome</h1>
    <hr class="mb-5 w-50 mx-auto">
    <div class="container">
        <div class="row justify-content-center">
            <div class="shadow m-2 col-10 col-sm-6" >
                @await Html.PartialAsync("_Register")
            </div>
            <div class="shadow m-2 col-10 col-sm" >
                @await Html.PartialAsync("_Login")
            </div>
        </div>
    </div>
    <div style="height: 100px;" ></div>
</div>
