<div style="height: 75px;" id="top"></div>
<button onclick="topFunction()" id="topBtn" style="display: none;" title="Go to top"><i class="arrow up m-auto"></i></button>
<div class="">
    <ul class="d-flex nav gap-3 justify-content-center">
        <li class="nav-item"><a href="#pugetSound">Puget Sound Project</a></li>
        <li class="nav-item"><a href="#kmart">Kmart Project</a></li>
        <li class="nav-item"><a href="#liveEdge">Live Edge Project</a></li>
        <li class="nav-item"><a href="#deck">Deck Project</a></li>
        <li class="nav-item"><a href="#various">Various / Tile Projects</a></li>
        <li class="nav-item"><a href="#garage">Garage Project</a></li>
    </ul>
</div>
<div class="d-flex flex-wrap gap-2 justify-content-center mb-5 pb-5">
    <h1 class="w-100 text-center border-bottom p-3" id="pugetSound">Puget Sound Project</h1>
    @* ----------------------------------- Main Bridge ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/bridge.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Bridge Entry</p>
        </div>
    </div>
    @* ----------------------------------- Boardform Foundy ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/boardform.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Boardform concrete forms</p>
        </div>
    </div>
    @* ----------------------------------- Boardform Foundy 2 ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/boardform2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Boardform concrete forms</p>
        </div>
    </div>
    @* ----------------------------------- Main foundy ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/Foundation.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Boardform and foundation</p>
        </div>
    </div>
    @* ----------------------------------- Main Garage Slab ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/slab.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Garage Concrete slab</p>
        </div>
    </div>
    @* ----------------------------------- Main Garage Door ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/garagedoor.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Garage door reverse board & bat sided</p>
        </div>
    </div>
    @* ----------------------------------- Main Stairs ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/stairs.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main house stair jacks wall is at 4 degree
                angle</p>
        </div>
    </div>
    @* ----------------------------------- Main Mortise ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/mortise.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Glulam motise to hide metal bracket</p>
        </div>
    </div>
    @* ----------------------------------- Main Glulams ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/glulams.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Exposed glulam ceiling</p>
        </div>
    </div>
    @* ----------------------------------- Main Glulams2 ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/glulams2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Exposed glulam ceiling</p>
        </div>
    </div>
    @* ----------------------------------- Main Outside frame ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/mainFrame.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main house outside view Progress</p>
        </div>
    </div>
    @* ----------------------------------- Main Deck ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/deck.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Deck</p>
        </div>
    </div>
    @* ----------------------------------- Main Tree ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/tree.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Deck tree notch</p>
        </div>
    </div>
    @* ----------------------------------- Main Door ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/door.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Doors grooved with wainscoting
                and applied baseboard</p>
        </div>
    </div>
    @* ----------------------------------- Main Hallway / No flooring ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/hallway.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Wall panel wainscoting grooves</p>
        </div>
    </div>
    @* ----------------------------------- Main Railing ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/railing.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Custom oak handrailing</p>
        </div>
    </div>
    @* ----------------------------------- Main Living ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/living.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Livingroom</p>
        </div>
    </div>
    @* ----------------------------------- Main Living 2 ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/otherMaster.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Livingroom</p>
        </div>
    </div>
    @* ----------------------------------- Main Master ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/master.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Primary Bedroom</p>
        </div>
    </div>
    @* ----------------------------------- Main Fireplace ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/fireplace.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Fireplace Living room</p>
        </div>
    </div>
    @* ----------------------------------- Main Bathroom ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/bath.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Bathroom</p>
        </div>
    </div>
    @* ----------------------------------- Main Bath Cant ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/cantbath.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main House Shower</p>
        </div>
    </div>
    @* ----------------------------------- Guest House Main ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Guesthouse.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Guest House</p>
        </div>
    </div>
    @* ----------------------------------- Guest Living ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/guest.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Guest house living room</p>
        </div>
    </div>
    @* ----------------------------------- Guest Living2 ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/guest3.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Guest house living room</p>
        </div>
    </div>
    @* ----------------------------------- Guest Shower ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/shower2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Guest house shower</p>
        </div>
    </div>
    @* ----------------------------------- Guest Outside ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/guestoutside.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Guest house outside view</p>
        </div>
    </div>
    @* ----------------------------------- Main Outside Fin ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/MainFin.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main house outside view Finished</p>
        </div>
    </div>
    @* ----------------------------------- Main Master View ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/masterview.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Main house Primary bedroom view handpoured
                pavers</p>
        </div>
    </div>
    @* ----------------------------------- Main Metal ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/metal.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Puget Sound Project - Custom Metal fabricated window guards</p>
        </div>
    </div>
    <h1 class="w-100 text-center border-bottom p-3" id="kmart">Kmart Project</h1>
    @* ----------------------------------- Kmart Steel stud ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/steelStud.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Facade Steel stud framing</p>
        </div>
    </div>
    @* ----------------------------------- Kmart Steel stud ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/steelstud2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Facade Steel stud framing</p>
        </div>
    </div>
    @* ----------------------------------- Kmart Steel stud ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/steelstud3.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Facade Steel stud framing</p>
        </div>
    </div>
    @* ----------------------------------- Kmart Steel stud ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/steelstud4.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Facade Steel stud framing</p>
        </div>
    </div>
    @* ----------------------------------- Kmart Steel stud ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/steelstud5.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Facade Steel stud framing</p>
        </div>
    </div>
    @* ----------------------------------- Kmart Wrapped ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/wrapped.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Facade wrapped with DensGlass and pressure
                treated plywood</p>
        </div>
    </div>
    @* ----------------------------------- Kmart Wrapped ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/wrapped2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Facade wrapped with DensGlass and pressure
                treated plywood</p>
        </div>
    </div>
    @* ----------------------------------- KMart Facade ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/facade.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Facade with Siding</p>
        </div>
    </div>
    @* ----------------------------------- KMart Facade Faced ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/facadealmost.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Facade with Siding and corrugated metal
                installed</p>
        </div>
    </div>
    @* ----------------------------------- KMart Facade Awning Done ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/facadedone.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Facade finished with awning</p>
        </div>
    </div>
    @* ----------------------------------- Kmart CMV before ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/kmart3.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - Roof support framing before CMU wall removal</p>
        </div>
    </div>
    @* ----------------------------------- Kmart CMU rmv ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/kmart.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kmart Project - After the CMU wall has been removed</p>
        </div>
    </div>
    <h1 class="w-100 text-center border-bottom p-3" id="liveEdge">Live Edge Cedar Siding Project</h1>
    @* ----------------------------------- Live Side Old ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/side-old.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Live Edge Project - Before</p>
        </div>
    </div>
    @* ----------------------------------- Live Side Old2 ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/side-old2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Live Edge Project - Before</p>
        </div>
    </div>
    @* ----------------------------------- Live edge siding ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/liveSiding.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Live Edge Project - Live Edge cedar siding</p>
        </div>
    </div>
    @* ----------------------------------- Live edge siding ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/liveSiding2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Live Edge Project - Live Edge cedar siding</p>
        </div>
    </div>
    @* ----------------------------------- Live edge siding ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/liveSiding3.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Live Edge Project - Live Edge cedar siding</p>
        </div>
    </div>
    @* ----------------------------------- Live edge siding ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/liveSiding4.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Live Edge Project - Live Edge cedar siding</p>
        </div>
    </div>
    <h1 class="w-100 text-center border-bottom p-3" id="deck">Deck Project</h1>
    @* ----------------------------------- Deck Black ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/deckBlack.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Deck Project - Set new 4x4's and extended the existing deck</p>
        </div>
    </div>
    @* ----------------------------------- Ren Deck Black2 ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/deckblack2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Deck Project - Painted and cut flat stock metal to wrap deck and
                create gate</p>
        </div>
    </div>
    @* ----------------------------------- Ren Deck Black3 ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/deckblack3.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Deck Project - View of finished deck</p>
        </div>
    </div>
    <h1 class="w-100 text-center border-bottom p-3" id="various">Various / Tile Projects</h1>
    @* ----------------------------------- L kitchen before ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/lLiving.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kitchen Remodel - After wall removal before cabniet install</p>
        </div>
    </div>
    @* ----------------------------------- L kitchen ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/kitchen1.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kitchen Remodel - Completed</p>
        </div>
    </div>
    @* ----------------------------------- L kitchen 2 ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/kitchen2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Kitchen Remodel - Completed</p>
        </div>
    </div>
    @* ----------------------------------- Bathroom Tile ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/lBath.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Bathroom Remodel Tile flooring</p>
        </div>
    </div>
    @* ----------------------------------- Bathroom Tile ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/lbath2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Custom shower pan and tile walls</p>
        </div>
    </div>
    @* ----------------------------------- J Tile harring bone ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/harringbone.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Travertine harringbone tiles</p>
        </div>
    </div>
    @* ----------------------------------- J Tile harring bone 2 ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/harringbone2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Travertine harringbone tiles</p>
        </div>
    </div>
    @* ----------------------------------- Ren E Cement Tile ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/floortile.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Custom encaustic cement tile floor</p>
        </div>
    </div>
    @* ----------------------------------- Ren E Cement Tile ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/backsplash.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Custom encaustic cement tile backsplash</p>
        </div>
    </div>
    @* ----------------------------------- Ren E Cement Tile ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/backsplash2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Custom encaustic cement tile backsplash</p>
        </div>
    </div>
    @* ----------------------------------- Ren mudroom tile ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/floortile2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Mudroom floor tile</p>
        </div>
    </div>
    @* ----------------------------------- R Tile ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/tile.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Custom Tile Shower - Small square subway tiles</p>
        </div>
    </div>
    @* ----------------------------------- R Tile ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/tile2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Custom Tile Shower - Small square subway tiles</p>
        </div>
    </div>
    @* ----------------------------------- A Tile ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/tileshower.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Custom Tile Shower - Small subway tiles</p>
        </div>
    </div>
    @* ----------------------------------- T Shower ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/showerT.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Custom shower pan and corian style walls</p>
        </div>
    </div>
    @* ----------------------------------- T Shower2 ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/showerT2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Custom shower pan and corian style walls</p>
        </div>
    </div>
    @* ----------------------------------- Tile / shower ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/bathtile.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Custom Tile Shower - Large Format Marble</p>
        </div>
    </div>
    <h1 class="w-100 text-center border-bottom p-3" id="garage">Garage Project</h1>
    @* ----------------------------------- Bain Trusses Rmv ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/trussesrm.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Garage Project - Existing roof removed</p>
        </div>
    </div>
    @* ----------------------------------- Bain Trusses ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/trusses2.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Garage Project - New set of trusses set</p>
        </div>
    </div>
    @* ----------------------------------- Bain Dormer ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/dormer.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Garage Project - Framing of dormer</p>
        </div>
    </div>
    @* ----------------------------------- Bain Trusses ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/trusses.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Garage Project - A-frame trusses interior with subfloor</p>
        </div>
    </div>
    @* ----------------------------------- Bain Trusses Done ------------------------------- *@
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/Gallery/trussesDone.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white text-center">Garage Project - View of garage after sheathing and roofing</p>
        </div>
    </div>

    <div style="height: 100px;" class="w-100"></div>
</div>

<div id="myModal" class="modal pt-5 mt-5">
    <span class="close">&times;</span>
    <img class="modal-content mt-5" id="img01">
    <div id="caption"></div>
</div>