<div class="d-flex flex-wrap gap-5 justify-content-center my-5 py-5">
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/railing.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white"></p>
        </div>
    </div>
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/railing.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white"></p>
        </div>
    </div>
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/railing.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white"></p>
        </div>
    </div>
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/railing.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white"></p>
        </div>
    </div>
    <div class="card bg-dark border-dark rounded-3" style="width: 18rem;">
        <img src="./images/railing.jpg" class="card-img-top" alt="Gallery Images">
        <div class="card-body">
            <p class="card-text text-white"></p>
        </div>
    </div>
    <div style="height: 100px;" class="w-100"></div>
</div>