@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Love+Ya+Like+A+Sister&family=Nunito&family=Plus+Jakarta+Sans&family=Roboto&family=Slackey&display=swap');

body {
  font-family: 'Dosis', sans-serif;
  /* background-color: black; */
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.responsive {
  margin: auto;
  height: auto;
}

.center-img {
  overflow: hidden;
}

.carousel-inner {
  background-color: black;
  min-height: 25rem;
  max-height: 30rem;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.carousel-caption {
  height: fit-content;
  border-radius: 1rem;
  padding: 0.5rem;
}

.background {
  height: fit-content;
}

.text-card-l .animate {
  transform: translateX(-100%);
  transition: 2s;
}

.text-card-l.show-animate .animate {
  transform: translateX(0)
}
.text-card-r .animate{
  transform: translateX(100%);
  transition: 1s;
}

.text-card-r.show-animate .animate {
  transform: translateX(0)
}

.fade-in {
  animation-duration: 2s;
  animation-name: appear;
}

@keyframes appear {
  from {opacity: 0;}
  to { opacity: 1;}
}


